@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<h3>Oregon Ski Resorts</h3>

<ul>
    <li><a href="http://www.timberlinelodge.com/">Timberline Lodge</a></li>
    <li><a href="http://www.skibowl.com/winter/">Mt. Hood Skibowl</a></li>
    <li><a href="https://www.skihood.com/">Mt. Hood Meadows</a></li>
    <li><a href="https://www.mtbachelor.com/">Mt. Bachelor</a></li>
    <li><a href="http://cooperspur.com/">Cooper Spur</a></li>
    <li><a href="http://willamettepass.com/">Willamette Pass</a></li>
    <li><a href="http://skihoodoo.com/">Hoodoo</a></li>
    <li><a href="http://www.mtashland.com/">Mt. Ashland</a></li>
</ul>

<h3>Ski Websites</h3>

<ul>
    <li><a href="http://www.skioregon.org/">Ski Oregon</a></li>
    <li><a href="http://www.onthesnow.com/">On the Snow</a></li>
</ul>
