@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="pull-right">
        <img src="~/Images/timberline.jpg" alt="Mt. Hood from Timberline Parking Lot" style="width: 500px; margin-left: 30px;" />
    </div>
    <h1>Timberline Lodge</h1>
    <p class="lead">Timberline offers a variety of terrain and is a great place to learn how to ski or snowboard. 
        Add to that the historic Timberline Lodge and you've got a unique mountain experience that everyone can enjoy.</p>
    <p><a href="http://www.timberlinelodge.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mt. Hood Skibowl</h2>
        <p>
            America’s Largest Night Ski Area is less than hour from Portland. What are you waiting for?
        </p>
        <p><a class="btn btn-default" href="http://www.skibowl.com/winter/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mt. Hood Meadows</h2>
        <p>
            Meadows is the largest ski resort on Mt. Hood with over 2000 acres of terrain and 5 high speed quad chairlifts.
        </p>
        <p><a class="btn btn-default" href="https://www.skihood.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mt. Bachelor</h2>
        <p>
            Just west of Bend you can find the largest ski area in the Cascades, with over 3,500 acres of terrain and 11 chairlifts.
        </p>
        <p><a class="btn btn-default" href="https://www.mtbachelor.com/">Learn more &raquo;</a></p>
    </div>
</div>